<!DOCTYPE html>
    <div class="container-fluid" style="padding-top:0px">
	  <div id="CM_left" style="padding-top:0px">   
	  		<h4><center>Feature Tree</center></h4>
        <p>
        <select style="margin-left: 0px;">
          <option>FC1</option>
          <option>FC2</option>
          <option>FC3</option>
          <option>-------------------------</option>
          <option>new feature tree</option>
        </select>
	  		 <button class="btn" type="button" style="margin-top:-10px">Generate</button>
         <button class="btn btn-primary" type="button" style="margin-top:-10px">Delete</button>
         </p>
      <iframe src="/configuratemodeltree" id="modeltree" width="450" height="385" scrolling="no" frameborder="0" style="margin-left: -30px;"></iframe>
	  </div>
	  <div id="CM_right" style="padding-top:0px"> 
	  		<h4><center>Use Case</center></h4>
	  		<div class="container-fluid">
	<!--		<iframe src="/tracerulelanguage" id="test" width="680" height="385" scrolling="yes" frameborder="0"></iframe>
			
			<iframe  src="/tracerulecontent" id="test" width="450" height="125" scrolling="yes" frameborder="0"></iframe> -->
	  
	  <div class="row">
      <div class="span2">
        <ul class="nav nav-list bs-docs-sidenav affix-top" style="margin-top:0px;margin-left: -30px;">
          <li class="active"><a href="#global"><i class="icon-chevron-right"></i> 短信用况</a></li>
          <li class=""><a href="#gridSystem"><i class="icon-chevron-right"></i> 通话用况</a></li>
          <li class=""><a href="#fluidGridSystem"><i class="icon-chevron-right"></i> 多媒体用况</a></li>
        </ul>
      </div>
      <div class="span5">
      <img src="/img/use_case_of_login.png" id="img1">


      

      </div>
    </div>

	  </div> 
	</div>