    <div class="container-fluid" style="padding-top:0px">
	  <div id="CM_left" style="padding-top:0px">   
	  		<h4><center>Feature Tree</center></h4>
        <p>
        <select style="margin-left: 0px;">
          <option>FC1</option>
          <option>FC2</option>
          <option>FC3</option>
        </select>
	  		 <button class="btn" type="button" style="margin-top:-10px">Generate</button>
         </p>
<!--	
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
			<iframe src="/guardname" id="guardname" width="350" height="517" scrolling="no" frameborder="0"></iframe>
-->
			<div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav affix-top" style="margin-top:10px">
          <li><a href="#download-bootstrap"><i class="icon-chevron-right"></i> 通话</a></li>
          <li><a href="#file-structure"><i class="icon-chevron-right"></i> 短信</a></li>
          <li><a href="#contents"><i class="icon-chevron-right"></i> 多媒体</a></li>
        </ul>
      </div>
	  </div>
	  <div id="CM_right" style="padding-top:0px"> 
	  		<h4><center>Use Case</center></h4>
	  		<div class="container-fluid">
	<!--		<iframe src="/tracerulelanguage" id="test" width="680" height="385" scrolling="yes" frameborder="0"></iframe>
			
			<iframe  src="/tracerulecontent" id="test" width="450" height="125" scrolling="yes" frameborder="0"></iframe> -->
	  
	  <div class="row">
      <div class="span2">
        <ul class="nav nav-list bs-docs-sidenav affix-top" style="margin-top:0px;margin-left: -30px;">
          <li class="active"><a href="#global"><i class="icon-chevron-right"></i> 短信用况</a></li>
          <li class=""><a href="#gridSystem"><i class="icon-chevron-right"></i> 通话用况</a></li>
          <li class=""><a href="#fluidGridSystem"><i class="icon-chevron-right"></i> 多媒体用况</a></li>
        </ul>
      </div>
      <div class="span6">



        <!-- Global Bootstrap settings
        ================================================== -->
        <section id="global" style="margin-top:-40px;margin-left: 60px;">
        <div class="page-header">
            <h3>create-use-case</h3>
          </div>
          <form class="form-inline">
          <fieldset>
          <div class="row">
  			<div class="span2"><fieldset><label contenteditable="true"><h4>use case:</h4></label></div>
  			<div class="span4"><input placeholder="use-case-ID" type="text" /></div>
		  </div>
			<div class="row">
  			<div class="span2"><fieldset><label contenteditable="true"><h4>name:</h4></label></div>
  			<div class="span4"><input placeholder="use case name" type="text" /></div>
		  </div>
		  <div class="row">
  			<div class="span2"><fieldset><label contenteditable="true"><h4>description:</h4></label></div>
  			<div class="span4"><input placeholder="the description of use case" type="text" /></div>
		  </div>
		  <p></p>
			<button class="btn" contenteditable="true" type="submit">提交</button>
			<button class="btn" contenteditable="true" type="reset">重置</button>
		
		  </fieldset>
		  </form>

        </section>




        <!-- Grid system
        ================================================== 
        <section id="gridSystem">
          <div class="page-header">
            <h3>activity5</h3>
          </div>
          <form class="form-inline">
			<fieldset>
				<label contenteditable="true">use case:</label> <input placeholder="Type something…" type="text" />
			<fieldset>
				<label contenteditable="true">name:</label> <input placeholder="Type something…" type="text" />
			<fieldset>
				<label contenteditable="true">description:</label> <input placeholder="Type something…" type="text" />
			<button class="btn" contenteditable="true" type="submit">提交</button></fieldset>
			<button class="btn" contenteditable="true" type="reset">重置</button></fieldset>
		  </form>
        </section>
-->


        <!-- Fluid grid system
        ================================================== 
        <section id="fluidGridSystem">
          <div class="page-header">
            <h3>Condition C9</h3>
          </div>
          <form class="form-inline">
			<fieldset><label contenteditable="true">use case:</label> <input placeholder="Type something…" type="text" />
			<fieldset><label contenteditable="true">name:</label> <input placeholder="Type something…" type="text" />
			<fieldset><label contenteditable="true">description:</label> <input placeholder="Type something…" type="text" />
			<button class="btn" contenteditable="true" type="submit">提交</button></fieldset>
			<button class="btn" contenteditable="true" type="reset">重置</button></fieldset>
		  </form>

        </section>
-->

      </div>
    </div>

	  </div> 
	</div>