<!DOCTYPE html>

<table class="table" contenteditable="true">
  <% elementdepencys.forEach(function(elementdepency,index){
      if(elementdepency.dependee==current_guard){
        for(key in elementdepency.depender){
        //  var path=elementdepency.depender[key].name.split("_");

        if(elementdepency.depender[key].refer_num>0){
          var path=key.split("_");
          var $mark=true;
       
          for(indexs in checkelementdepencys){
            if(checkelementdepencys[indexs].element==path[1]){
              if(checkelementdepencys[indexs].type=="UseCase"){
                $mark=false;
              }
              break;
            }
          }
          
          if($mark){
    %>
      
      <tr>
           <td></td>
           <td><%=elementdepency.element%></td>
           <td><b>---></b></td>
           <td><%=path[1]%></td>
           <td><b>∈</b>&nbsp;</td>
           <td>
            <%
              guardLists.forEach(function(guard,index){
                if(guard.trace_rule_id==path[0]){
            %>
                <%=guard.selfname%>
            <%
                }
                })
            %>
           </td>
      </tr>

    <%
         } 
        } // end if refer_num
      }
    }
  })%>

  
</table>
    