<!DOCTYPE html>
<script src="/javascripts/fmtree.js"></script>
<script src="/javascripts/constraints.js"></script>
<script src="/javascripts/addNewConstraint.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<link type="text/css" rel="stylesheet" href="/stylesheets/xtree.css">

<style type="text/css">
  div.c{padding-left:1%}
    div.left{float:left;width:20%;margin:6px;}
    div.center{float:left;width:50%;margin:6px;}
    div.right{float:left;width:25%;margin:6px;}
</style>
<script type="text/javascript">
    $(".icon-plus").mouseover(function(){
        $(this).addClass("getFocus");
      })

    $(".icon-plus").mouseout(function(){
        $(this).removeClass("getFocus");
      })

     $(".icon-plus").click(function(){
        alert("hello it's plus");

      })

</script>

<div class="container-fluid">
  <div class="row-fluid">
    <div  class="span12">
      <div class="tabbable">
        <ul class="nav nav-tabs" id="tabs">
          <li  class="active">
            <a data-toggle="tab" style="cursor:pointer">Feature Model</a>
          </li>
          <li>
            <a data-toggle="tab" style="cursor:pointer">Traceability</a>
          </li>
          <li>
            <a data-toggle="tab"  style="cursor:pointer">Configuration</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="c">
    <input type="hidden" id="hidden_project_id" value="<%=projectID%>">
    <div class="left">
      <div class="myBorderRadius">
        <h4 align="center" class="myFont"> Feature Model </h4>
        <div class="myInside" style="border-top:1px solid #c3c3c3;overflow:auto;">
        
          <script type="text/javascript">
            if (document.getElementById) {
                var tree = new FMTree('Root', 'It is the root feature.', null, null, 'root_old_father');
  
            $.ajax({
                type:"POST",
                url: "/loadFeatureModel",
                data: {
                  projectID:$("#hidden_project_id").val()
                },
                success: function(data) {
                  console.log("success load FeatureModel");
                data.features.forEach(function(feature, index) {
                  var node = new FMTreeItem(feature.text, feature.description, feature.optionality, feature.VP, feature._id);
                  var parent = FMTreeHandler.idPrefix + feature.parent_id;
                  FMTreeHandler.all[parent].add(node);
                });
              },
            });
  
            document.write(tree);
           }
          </script>
        </div>
      </div>
    </div>

    <div class="center">
      <div class="myBorderRadius">
        <h4 align="center" class="myFont"> Information </h4>
        <div class="myInside" style="padding:0 20px;">
            <h4 class="myh4">Attributes</h4>
            <div class="myInside">
              <table class="table myTableMiddle">
                <tr id="infoLine1" onmouseover="infoLineButton1.className=''" onmouseout="infoLineButton1.className='invisible'">
                  <th style="width:80px;">Name:</th>
                  <td class="myMiddleMiddle" id="info-name"></td>
                  <td>
                    <div class="invisible" style:"padding:0;" id="infoLineButton1">                      
                    </div>
                  </td>
                </tr>

                <tr id="infoLine2" onmouseover="infoLineButton2.className=''" onmouseout="infoLineButton2.className='invisible'">
                  <th>Description:</th>
                  <td class="myMiddleMiddle" id="info-description"></td>
                  <td>
                    <div class="invisible" style:"padding:0;" id="infoLineButton2">
                    </div>
                  </td>
                </tr>
                <tr id="infoLine3" onmouseover="infoLineButton3.className=''" onmouseout="infoLineButton3.className='invisible'">
                  <th>Optionality:</th>
                  <td class="myMiddleMiddle" id="info-optionality"></td>
                  <td>
                    <div class="invisible" style:"padding:0;" id="infoLineButton3">
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          
            <h4 class="myh4">Refinements & Variant Point</h4>
            <div class="myInside">
              <table class="table myTableMiddle">
                <tr id="infoLine4" onmouseover="infoLineButton4.className=''" onmouseout="infoLineButton4.className='invisible'">
                  <th style="width:80px;">Parent:</th>
                  <td class="myMiddleMiddle" id="info-parent"></td>
                  <td>
                    <div class="invisible" style:"padding:0;" id="infoLineButton4">
                    </div>
                  </td>
                </tr>
                <tr id="infoLine5" onmouseover="infoLineButton5.className=''" onmouseout="infoLineButton5.className='invisible'">
                  <th>VP-Variant:</th>
                  <td class="myMiddleMiddle" id="info-VP"></td>
                  <td>
                    <div class="invisible" style:"padding:0;" id="infoLineButton5">
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
      </div>
    </div>

    <div class="right">
      <div class="myBorderRadius">
        <h4 align="center" class="myFont"> Constraints </h4>
        <div class ="myInside" style="height:40px;"  onmouseover="constraints_button_plus.className=''" onmouseout="constraints_button_plus.className='invisible'">
        <table align="center" valign="middle">
          <tr>
            <td style="width:22px; padding:0px;"></td>
            <td style="height:38.5px; width:302px; padding:0px;">
              <div align="center">
                <img src="images/allGrey.png" id="constraints_all" style="height:26px;" onclick="ConstraintHandler.toAll();" /><img src="images/currentWhite.png" id="constraints_current" style="height:26px;" onclick="ConstraintHandler.toCurrent();" />
              </div>
            </td>
            <td style="width:22px; padding:0px;" align="center" id="constraints_button_plus" class="invisible" >
              <i href="#addNewConstraint" data-toggle="modal" class="icon-plus" id="constraint_plus" onclick="AddNewConstraintHandler.inIt();"></i>
            </td>
          </tr>
        </table>
      </div>
      <div class="myInside" id="constraints_cont">
        
      </div>
      
      <script>
        $.ajax({
          type:"POST",
          url: "/loadConstraints",
          data:{
            projectID:$("#hidden_project_id").val()
          },
          success: function(data) {
            data.constraints.forEach(function(constraint, index) {
                var lefts = [];
                var rights = [];
                constraint.left.forEach(function(doc, index) {
                  var isNot = true;
                  if (doc.isNot == "false") {isNot = false;}
                  var left = new Constraint_item(doc.item_id, isNot, doc.item_text);
                  lefts.push(left);
                });
                constraint.right.forEach(function(doc, index) {
                  var isNot = true;
                  if (doc.isNot == "false") {isNot = false;}
                  var right = new Constraint_item(doc.item_id, isNot, doc.item_text);
                  rights.push(right);
                  });
                  var _cons = new Constraint(lefts, constraint.relation, rights, constraint._id);
                  _cons.add();
            });
          },
        });

      </script>
      
      </div>
    </div>

</div>

<div id="addNewConstraint" class="modal hide fade" style="width:800px; margin-left:-400px;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <script src="/javascripts/addNewConstraint.js"></script>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="addNewConstraintTitle">Add a New Constraint</h3>
  </div>
  <div class="modal-body" align="center">
    <table id="addNewConstraint_body">
      
    </table>
  </div>
  <div class="modal-footer" style="text-align: center;">
    <button class="btn btn-primary" onclick="AddNewConstraintHandler.add(); $('#addNewConstraint').modal('hide');">Add</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>