    <div class="container-fluid" style="padding-top:0px">
	  <div id="FM_left" style="padding-top:0px">   
	  		<h4><center>Feature Model</center></h4>
			<iframe src="/modeltree" id="modeltree" width="450" height="385" scrolling="no" frameborder="0"></iframe>
			<h4><center>Feature Relation</center></h4>
			<iframe  src="/showrelation" id="test" width="450" height="125" scrolling="yes" frameborder="0"></iframe>
	  </div> 
	  <div id="FM_right" style="padding-top:0px"> 
	  		<h4><center>Feature Information</center></h4>
			<iframe src="/showinfo" id="test" width="680" height="517" scrolling="yes" frameborder="0"></iframe>
	  </div> 
	</div>