<!DOCTYPE html>
          
              <% guardlists.forEach(function(guardlist, index) {
              	
              	%>
                  <li class="nav-list-1"><a href="javascript:;" class="myInsideA" name="<%= guardlist._id%>">
                    <%= guardlist.guard_selfname%><i class="icon-remove GuardListStyle"></i><i class="icon-pencil GuardListStyle"></i></a></li>
              <%}) %>
   
 

