  <html>
    <head>
    </head>
    <body>
    <div class="container-fluid">
      <div class="row-fluid">
		<p><center>
  			 <button class="btn btn-mini" type="button">Add</button>
   			 <button class="btn btn-mini" type="button">Delete</button>
    		 <button class="btn btn-mini" type="button">Check</button></center>
		</p>
	  </div>
	  <iframe src="/showguard" id="showguard" width="300" height="660" scrolling="yes" frameborder="0"></iframe>
	</div>
	</body>
	</html>