<!DOCTYPE html>
 
<% if (!user) { %>
  <div class="hero-unit">
    <h1>Trace rule tool</h1>
    <p>This is a trace rule tool</p>
    <p>
      <a class="btn btn-primary btn-large" href="/login">Login</a>
      <a class="btn btn-large" href="/reg">Register</a>
    </p>
  </div>
<% } else { %>
   <%- partial('showProject',{projects:projects,current_id:current_id}) %> 
<% } %>
