    <html>
    <head>
    </head>
    <body>
    <div class="container-fluid">
      <div class="row-fluid">
		<p>
  			 <button class="btn btn-mini" type="button">Create Entity</button>
   			 <button class="btn btn-mini" type="button">Create Relation</button>
    		 <button class="btn btn-mini" type="button">Delete Entity</button>
    		 <button class="btn btn-mini" type="button">Delete Relation</button>
		</p>
	  </div>
	  <iframe src="/showtree" id="showtree" width="432" height="360" scrolling="yes" frameborder="0"></iframe>
	</div>
	</body>
	</html>