<form method="post" action="/post" class="well form-inline center" style="text-align:center;">
 feature name<input type="text" class="span2" name="featurename">
  descriptions<input type="text" class="span8" name="descriptions">
   optionality<input type="text" class="span1" name="optionality">
    refinement<input type="text" class="span8" name="post">
     level<input type="text" class="span1" name="level">
      parents<input type="text" class="span2" name="parents">
      <br>
  <button type="submit" class="btn btn-success"><i class="icon-comment icon-white"></i> 发言</button>
</form>
