<html>
<head>
</head>
<body>
 <ul class="nav nav-list">
            
              	  <a href="" style="text-decoration:none;color:blue">
              		<center>通话</center>
              	  </a>
             <a href="" style="text-decoration:none;color:blue">
              		<center>短信</center>
              	  </a>
              	  <a href="" style="text-decoration:none;color:blue">
              		<center>多媒体</center>
              	  </a>
            </ul>
</body>
</html>