    <div class="container-fluid" style="padding-top:0px">
	  <div id="TM_left" style="padding-top:0px">   
	  		<h4><center>Guard List</center></h4>
			<iframe src="/guardname" id="guardname" width="450" height="517" scrolling="no" frameborder="0"></iframe>
	  </div> 
	  <div id="TM_right" style="padding-top:0px"> 
	  		<h4><center>Trace-rule Editor</center></h4>
			<iframe src="/showinfo" id="test" width="680" height="385" scrolling="yes" frameborder="0"></iframe>
			<h4><center>Feature Relation</center></h4>
			<iframe  src="/showrelation" id="test" width="450" height="125" scrolling="yes" frameborder="0"></iframe>
	  </div> 
	</div>