    <div class="container-fluid" style="padding-top:0px">
	  <div id="TM_left" style="padding-top:0px">   
	  		<h4><center>Guard List</center></h4>
			<iframe src="/guardname" id="guardname" width="350" height="517" scrolling="no" frameborder="0"></iframe>
	  </div> 
	  <div id="TM_right" style="padding-top:0px"> 
	  		<h4><center>Trace-rule Editor</center></h4>
	  		<div class="container-fluid">
      <div class="row-fluid">
		<p><center>
  			 <button class="btn btn-mini" type="button">Create-use-case</button>
   			 <button class="btn btn-mini" type="button">Create-activity</button>
    		 <button class="btn btn-mini" type="button">Create-decision</button>
    		 <button class="btn btn-mini" type="button">Create-condition</button>
    		 <button class="btn btn-mini" type="button">Insert-sequence</button>
    		 <button class="btn btn-mini" type="button">Insert-decision</button>
    		 <button class="btn btn-mini" type="button">Fill</button></center>
		</p>
	  </div>
			<iframe src="/showinfo" id="test" width="680" height="385" scrolling="yes" frameborder="0"></iframe>
			
			<iframe  src="/showrelation" id="test" width="450" height="125" scrolling="yes" frameborder="0"></iframe>
	  </div> 
	</div>