<!DOCTYPE html>

<script src="/javascripts/fmtreeT.js"></script>
<link type="text/css" rel="stylesheet" href="/stylesheets/xtree.css">

<div class="container-fluid">
  <div class="row-fluid">
    <div  class="span12">
      <div class="tabbable">
        <ul class="nav nav-tabs" id="tabs">
          <li>
            <a data-toggle="tab" style="cursor:pointer">Feature Model</a>
          </li>
          <li  class="active">
            <a data-toggle="tab" style="cursor:pointer">Traceability</a>
          </li>
          <li>
            <a data-toggle="tab"  style="cursor:pointer">Configuration</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<style>
    div.c{padding-left:1%}
    div.left{float:left;width:20%;margin:6px;border:1px solid #c3c3c3;border-radius: 10px;}
    div.center{float:left;width:50%;margin:6px;}
    div.right{float:left;width:25%;margin:6px;}
    /*min-height: 500px;*/
    div.titles{
      text-align: center;
      font-size: 125%;
      font-weight: bold;
      margin-top: 12px;
      font-family: "David";
    }

    b{
      font-weight: bold ! important ;
      display: inline !important
    }

    .ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-e{
      display: inline !important
    }

    .ui-accordion-header-icon.ui-icon.ui-icon-triangle-1-s{
      display: inline !important
    }

    div.ostitles{
      text-align: center;
      font-size: 115%;
      font-weight: bold;
      margin-top: 8px;
      font-family: "David";
    }

    .myh4 {
      font-family:"Calibri";
      font-size:125%;
    }

    h4{
      color: #000000
    }

    h5{
      font-weight: normal;
    }
    .myInside {
      border-top:1px solid #c3c3c3;
      overflow:auto;
      color: #000000;
      height: 32px; 
    }


    .myInsideA {
      border-top:1px solid #c3c3c3;
      overflow:auto;
      color: #000000;
      height: 32px; 
    }


    .myInsidePlus {
      border-top:1px solid #c3c3c3;
      overflow:auto;
      color: #000000;
      height: 32px; 

    }

    .focusBgColor{
      background-color: #c3c3c3;
    }

    .group { zoom: 1 }

    .depnInside{
      border-top:1px solid #c3c3c3;
    }

    .getFocus{
      border:1px solid #c3c3c3;
    }

    .GuardListStyle{float:right;margin-right:6px;margin-top:10px;display:none;}
    .GuardListStyleShow{float:right;margin-right:6px;margin-top:10px;display:block;}
</style>

<script type="text/javascript">
  var $seq_no=0;
  var $current_guard_id;
  var $current_accordion;
  var $index;
  var $current_operation;

  var $activityname;
  var $activitydescription;
  var $activityexecutor;
  var $activityvirtual;

  var guardname=$("#guardname");
  var $tracerules;
  var $selfName;
  var $operation_position;
  var $str;

  var $TDLType;

  var $mark;

  function update_pageT()
  {
    window.location.href("/T");
  }

  $(function(){
    $elementdepency="<%=elementdepencys%>";
     var rad_elm = $('input[name^="TDLType"]'),rad_last;
     var sel_elm = $('select[class^="TDLType"]'),sel_last;
    /* sel_elm.change(function() {
            if (sel_last != this) {
                sel_last = this;
                sel_elm.each(function() {
                    (sel_last != this) && (this.selectedIndex = -1);
                });
            }
            rad_elm.get(0).checked=false;
        });*/
      rad_elm.change(function(){
        if(rad_last != this)
        {
          rad_last=this;
          
          //alert($(this).next()[0].tagName);
          rad_elm.each(function(){

            if(rad_last!=this){
             $(this).parent().find("select").attr('disabled',true);
            }
          })
          $(this).parent().find("select").attr('disabled',false);
        }
     })
      $("#guardNameShow").mouseover(function(){
        $(this).find("i").show();
      })

      $("#guardNameShow").mouseout(function(){
        $(this).find("i").hide();
      })

      $(".myInsideA").mouseover(function(){
          $(this).children().show();
          $(this).find(".icon-chevron-right").hide();
      })
      $(".myInsideA").mouseout(function(){
          $(this).children().hide();
          $(this).find(".icon-chevron-right").show();
        
      })

      $("h4").mouseover(function(){
          $(this).children().show();
      })
      $("h4").mouseout(function(){
          $(this).children().hide();
      })


      var $OldActivityName;
      var $OldActivityDescription;
      var $OldActivityExecutor;

      var $ActivityName;
      var $ActivityDescription;
      var $ActivityExecutor;

      
      var $OldUseCaseName;
      var $OldUseCaseDescription;

      var $UseCaseName;
      var $UseCaseDescription;

      $(".icon-pencil.editOperation.UseCase").click(function(){

          $OldUseCaseName=$(this).parent().find('input').val();
          $OldUseCaseDescription=$(this).parent().parent().parent().find('textarea').text();
          
        jQuery.each($(this).parent().parent().parent(),function(){
          
          $(this).find('input').attr("readonly",false);
          $(this).find('textarea').attr("readonly",false);
          
        })
        //$(this).parent().parent().parent().('input').attr("readonly",false);
         $(this).css("display","none");
         $(this).siblings().show();
      })

       
       var $OldDecisionName;
       var $OldDecisionDescription;
       var $OldDecisionExecutor;

       var $DecisionName;
       var $DecisionDescription;
       var $DecisionExecutor;

      $(".icon-pencil.editOperation.Decision").click(function(){
          $OldDecisionName=$(this).parent().find('input').val();
          $OldDecisionDescription=$(this).parent().parent().parent().find('textarea').text();
          $OldDecisionExecutor=$(this).parent().parent().parent().find("option:selected").val();
         
        jQuery.each($(this).parent().parent().parent(),function(){
          $(this).find('input').attr("readonly",false);
          $(this).find('textarea').attr("readonly",false);
          $(this).find('select').attr("disabled",false);
        })
        //$(this).parent().parent().parent().('input').attr("readonly",false);
         $(this).css("display","none");
         $(this).siblings().show();
      })


      var $OldConditionName;
      var $OldConditionDescription;

      var $ConditionName;
      var $ConditionDescription;

      $(".icon-pencil.editOperation.Condition").click(function(){
         $OldConditionName=$(this).parent().find('input').val();
         $OldConditionDescription=$(this).parent().parent().parent().find('textarea').text();
          
        jQuery.each($(this).parent().parent().parent(),function(){
          
          $(this).find('input').attr("readonly",false);
          $(this).find('textarea').attr("readonly",false);
          
        })
        //$(this).parent().parent().parent().('input').attr("readonly",false);
         $(this).css("display","none");
         $(this).siblings().show();
      })


      $(".icon-pencil.editOperation.InsertBetween").click(function(){
        jQuery.each($(this).parent().parent().parent(),function(){
          $(this).find('select').attr("disabled",false);
          
        })
        //$(this).parent().parent().parent().('input').attr("readonly",false);
         $(this).css("display","none");
         $(this).siblings().show();
      })

      $(".icon-ok.editOperation.InsertBetween").click(function(){
        jQuery.each($(this).parent().parent().parent(),function(){
          $(this).find('select').attr("disabled",true);
        })
        //$(this).parent().parent().parent().('input').attr("readonly",false);
         $(this).css("display","none");
         $(this).siblings().show();
      })

       $(".icon-pencil.editOperation.InsertAfterDecCon").click(function(){
        jQuery.each($(this).parent().parent().parent(),function(){
          $(this).find('select').attr("disabled",false);
          
        })
        //$(this).parent().parent().parent().('input').attr("readonly",false);
         $(this).css("display","none");
         $(this).siblings().show();
      })

      $(".icon-ok.editOperation.InsertAfterDecCon").click(function(){
        jQuery.each($(this).parent().parent().parent(),function(){
          $(this).find('select').attr("disabled",true);
        })
        //$(this).parent().parent().parent().('input').attr("readonly",false);
         $(this).css("display","none");
         $(this).siblings().show();
      })
      
      $(".icon-pencil.editOperation.InsertDecBeforeActWith").click(function(){
        jQuery.each($(this).parent().parent().parent(),function(){
          $(this).find('select').attr("disabled",false);
          
        })
        //$(this).parent().parent().parent().('input').attr("readonly",false);
         $(this).css("display","none");
         $(this).siblings().show();
      })

      $(".icon-ok.editOperation.InsertDecBeforeActWith").click(function(){
        jQuery.each($(this).parent().parent().parent(),function(){
          $(this).find('select').attr("disabled",true);
        })
        //$(this).parent().parent().parent().('input').attr("readonly",false);
         $(this).css("display","none");
         $(this).siblings().show();
      })

       $(".icon-pencil.editOperation.InsertBeforeActCon").click(function(){
        jQuery.each($(this).parent().parent().parent(),function(){
          $(this).find('select').attr("disabled",false);
          
        })
        //$(this).parent().parent().parent().('input').attr("readonly",false);
         $(this).css("display","none");
         $(this).siblings().show();
      })

      $(".icon-ok.editOperation.InsertBeforeActCon").click(function(){
        jQuery.each($(this).parent().parent().parent(),function(){
          $(this).find('select').attr("disabled",true);
        })
        //$(this).parent().parent().parent().('input').attr("readonly",false);
         $(this).css("display","none");
         $(this).siblings().show();
      })

      $(".icon-pencil.editOperation.InsertDecBeforeActCon").click(function(){
        jQuery.each($(this).parent().parent().parent(),function(){
          $(this).find('select').attr("disabled",false);
          
        })
        //$(this).parent().parent().parent().('input').attr("readonly",false);
         $(this).css("display","none");
         $(this).siblings().show();
      })

      $(".icon-ok.editOperation.InsertDecBeforeActCon").click(function(){
        jQuery.each($(this).parent().parent().parent(),function(){
          $(this).find('select').attr("disabled",true);
        })
        //$(this).parent().parent().parent().('input').attr("readonly",false);
         $(this).css("display","none");
         $(this).siblings().show();
      })
      $(".icon-pencil.editOperation.InsertDecBeforeAct").click(function(){
        jQuery.each($(this).parent().parent().parent(),function(){
          $(this).find('select').attr("disabled",false);
          
        })
        //$(this).parent().parent().parent().('input').attr("readonly",false);
         $(this).css("display","none");
         $(this).siblings().show();
      })

      $(".icon-ok.editOperation.InsertDecBeforeAct").click(function(){
        jQuery.each($(this).parent().parent().parent(),function(){
          $(this).find('select').attr("disabled",true);
        })
        //$(this).parent().parent().parent().('input').attr("readonly",false);
         $(this).css("display","none");
         $(this).siblings().show();
      })

      

      $(".icon-pencil.editOperation.InsertDecAfterAct").click(function(){
        jQuery.each($(this).parent().parent().parent(),function(){
          $(this).find('select').attr("disabled",false);
          
        })
        //$(this).parent().parent().parent().('input').attr("readonly",false);
         $(this).css("display","none");
         $(this).siblings().show();
      })

      $(".icon-ok.editOperation.InsertDecAfterAct").click(function(){
        jQuery.each($(this).parent().parent().parent(),function(){
          $(this).find('select').attr("disabled",true);
        })
        //$(this).parent().parent().parent().('input').attr("readonly",false);
         $(this).css("display","none");
         $(this).siblings().show();
      })


      $(".icon-pencil.GuardListStyle").click(function(event){
        $current_guard_id=$(this).parent().attr('name');
        $( "#editSelfName" ).dialog( "open" );
        event.stopPropagation(); 
      })

      $(".myInsideA").click(function(){
        if($(this).attr('name')!=null){
          window.location.href="/T/"+$(this).attr('name');
        }
      })

      $(".icon-remove").click(function(){
        //alert($(this).parent().get(0).text);
        alert($(this).parent().attr('name'));

        $.ajax({
            type: "POST",
            url: "/del",
            data: {
              
              featurename:$(this).parent().attr('name'), 

              types:1
           },
            dataType:'json',
          });
        $(this).parent().remove();
      })
    

      $(".myInsideA").each(function(index){
          $(this).click(function(){
            $(".myInsideA.focusBgColor").removeClass("focusBgColor");
            $(this).addClass("focusBgColor");
          })
        })

      $(".icon-pencil").mouseover(function(){
        $(this).addClass("getFocus");
      })

      $(".icon-pencil").mouseout(function(){
        $(this).removeClass("getFocus");
      })

       $(".icon-remove").mouseover(function(){
        $(this).addClass("getFocus");
      })

      $(".icon-remove").mouseout(function(){
        $(this).removeClass("getFocus");
      })

      $(".icon-plus").mouseover(function(){
        $(this).addClass("getFocus");
      })

      $(".icon-plus").mouseout(function(){
        $(this).removeClass("getFocus");
      })

      $(".icon-plus").click(function(){
        $current_accordion=$(this).parent().parent().parent().attr("id");

        sel_elm.each(function(){
          this.selectedIndex=-1;
        })
        rad_elm.get(0).checked=false;

        $( "#addOperation" ).dialog( "open" );
        event.stopPropagation();

      })

      $(".icon-ok").mouseover(function(){
        $(this).addClass("getFocus");
      })

      $(".icon-ok").mouseout(function(){
        $(this).removeClass("getFocus");
      })

      $(".icon-minus").mouseover(function(){
        $(this).addClass("getFocus");
      })

      $(".icon-minus").mouseout(function(){
        $(this).removeClass("getFocus");
      })


      $( "#radio" ).buttonset();
    // Add Accordion stuff
    $(".accordion").accordion({
      autoHeight: false,
      active: false,
      collapsible: true
    }); // end $(".accordion").accordion

    // Add sortables
    $('.sortable').sortable({
      start: function(e, ui) {
        container = $(e.target);

        var parent_id = container.parent().parent().attr('id');
        expanded_ones = new Array();
        var count = 0;
        var summary = '';
        var child = '';
        var active = '';

        // now close all other sections
        $.each($('#' + parent_id + ' .accordion'), function() {
          // get the child element since that has the div id I need
          child = $(this).children('div');

          // get the active information to see if it is open or closed
          active = $(this).accordion('option', 'active');

          // check to see if this one is expanded
          if(parseInt(active) == active) {
            // store this id so we can open it later
            expanded_ones[count] = $(child).attr('id');
            count++;

            // and close the accordion
            $(this).accordion({ active: false });
          } // end if(parseInt(active) == active)
        }); // end $.each($('#' + parent_id + ' .accordion'), function()
      }, // end start: function(e, ui)
      stop: function(e, ui) {
        container = $(e.target);

        var parent_elem = '';

        // expand the ones that were originally expanded
        for(var i = 0; i < expanded_ones.length; i++) {
          parent_elem = $('#' + expanded_ones[i]).parent();
          $(parent_elem).accordion('option', 'active', 0);
        } // end for(var i = 0; i < expanded_ones; i++)
      } // end stop: function(e, ui)
    }); // end $('.sortable').sortable

      


        $( "#dialog-form" ).dialog({
          autoOpen: false,
          width: 450,
          modal: true,
          buttons: {

            "Confirm": function() {
            $(".nav-list-1:last").remove();

              $selfName=$("#selfDescription").val();

              $str="";
              $('input[name="featurename"]:checked').each(function(){
                
              if($str != "")
              {
                $str=$str+"&nbsp;∨&nbsp;";
              }
              var $val=$('input:radio[name=\"'+$(this).val()+'\"]:checked').val();
              if($val != "no")
                $str=$str+"⌉";
    
              $str=$str+$(this).val();
            })
            
            $("#guardlist").append("<li class=\"nav-list-1\"><a href=\"javascript:;\" class=\"myInside\">"+$selfName+"<i class=\"icon-remove GuardListStyle\" ></i></a></li>").find('.myInside').mouseover(function(){$(this).children().show();}).mouseout(function(){$(this).children().hide();}).each(function(index){$(this).click(function(){$(".myInside.focusBgColor").removeClass("focusBgColor");$(this).addClass("focusBgColor");})}).find('.icon-remove').mouseover(function(){$(this).addClass("getFocus");}).mouseout(function(){$(this).removeClass("getFocus");}).click(function(){$(this).parent().remove();});

            
            $("#guardlist").append("<li class=\"nav-list-1\"><a href=\"javascript:;\" class=\"myInsidePlus\" style=\"text-align:center;margin-bottom:0px;vertical-align:middle;\"><i class=\"icon-plus-sign\"></i></a></li>").find('.icon-plus-sign').click(function(){$( "#dialog-form" ).dialog( "open" );});

            $( this ).dialog( "close" );
          
        },
      },
      close: function() {
        if($str!=null){
          $.ajax({
            type: "POST",
            url: "/post",
            data: {
              selfName:$selfName,
              featurename:$str, 
              types:1
           },
            dataType:'json',
           success: function(msg){
              alert( "Data Saved: " + msg );
            }
          });
        }
      }
    });
 
var $addTraceRule_selfname;
var $addTraceRule_guardname;
var $operation_position;
 $( "#AddTraceRule" ).dialog({
          autoOpen: false,
          width: 500,
          modal: true,
          resizable: false,
          buttons: {
            
            "Confirm": function() {
              
              $addTraceRule_selfname=$("#guardselfname").val();
              $addTraceRule_guardname=$("#hidden_guardselfname").val();
              
              if($addTraceRule_guardname=="")
                {
                  alert("Please enter guard name");
                }else{
                  if($addTraceRule_selfname==""){
                    alert("Please enter selfname");
                  }else{
                    $( this ).dialog( "close" );
                  }
                }
       
          
        },
      },
      close: function() {
        //alert($addTraceRule_selfname+" "+$addTraceRule_guardname);
        if($addTraceRule_selfname!="" && $addTraceRule_guardname!=""){
          window.location.href="/addTraceRuleZero/"+$addTraceRule_selfname+"分"+$addTraceRule_guardname;
        }
      }
    });

    $( ".icon-plus-sign" ).click(function() {
        //$("#AddTraceRule").load("/ConfigurationTree");
        $("#AddTraceRule").dialog("open");
      });

  })

 

</script>


<input type="hidden" id="hidden_elementdepencys" value="<%= elementdepencys%>">

<div class="c">
    <div class="left">
   <div class="myBorderRadiusPlus">
    <div class="titles">
      Trace Rule List
    </div>
    <div class="myh4" style="margin-top:8px">
      
      <ul class="nav nav-list" id="guardlist">
        <%- partial('guardList', {current_guard:current_guard,guardlists:guardlists}) %>
        <li class="nav-list-1"><a href="javascript:;" class="myInsidePlus" style="text-align:center;margin-bottom:0px;vertical-align:middle;"><i class="icon-plus-sign"></i></a></li>
      </ul>


    </div>
   </div>
  </div>
  
  <div class="center" style="min-height:500px">

   <div class="BorderGuard" >
    <div class="titles">
      Trace Rule
    </div>
    
    <div style="margin-top:8px">
      <ul class="nav nav-list" id="guardlist">
        <li class="nav-list-11"><a href="javascript:;" class="myInsidePlus" style="text-align:left;margin-bottom:0px;vertical-align:middle;font-size:120%" id="guardNameShow">Guard: <i class="icon-plus" style="float:right;margin-right:6px;display:none;margin-top:8px"></i><i class="icon-pencil editGuard" style="float:right;margin-right:6px;display:none;margin-top:8px"></i></a></li>
      </ul>
          <input type="hidden" id="hiddenselfname" value="">
          <input type="hidden" id="hiddenguardname" value="">
    </div>
   </div>

   <div class="BorderGuard" style="margin-top:15px">
    <div class="ostitles" style="line-height:18px">
      Operation Sequence
    </div>
   </div>

  </div>
  
  <div class="right" style="min-height:500px">

   <div class="BorderGuard" >
    <div class="titles">
      Dependency
    </div>
    
    <div style="margin-top:8px">
      

    </div>
   </div>


  </div>
</div>

 <!-- add guard --> 
    <style type="text/css">
      .contact{width:100px;height:15px;margin:20px 0 0 50px;background-color:#CCCCCC;text-align:center;}
      .us{display:none;width:250px;height:20px;padding:10px;position: absolute;background-color:gery;z-index:9999}
    </style>

<div id="AddTraceRule" title="Add New Trace Rule">
  <script>
    var $mouseX,$mouseY;
     function showTips(){
       var displayTips=document.getElementById("us");
       $mouseX=event.clientX;
       $mouseY=event.clientY;
       //alert(typeof($mouseX)+" "+typeof($mouseY));
       displayTips.style.top=$mouseY+10+"px";
       displayTips.style.left=$mouseX+"px";
       displayTips.style.display="block";
     }

      function hideTips(){
       var displayTips=document.getElementById("us");
       displayTips.style.display="none";
     }

     function changeState(id){
        var $ids="a_"+id;

        var $ID=document.getElementsByName($ids);

        var $State=$ID[0].innerHTML;
        var $state1=id;
        var $state2="¬"+id;
        if($State.indexOf("<font color=\"blue\">¬</font>")>=0){
          $State=$State.replace("<font color=\"blue\">¬</font>","");
          $("#hidden_guardselfname")[0].value=$("#hidden_guardselfname")[0].value.replace($state2,$state1);
        }else{
          $State="<font color=\"blue\">¬</font>"+$State;
          $("#hidden_guardselfname")[0].value=$("#hidden_guardselfname")[0].value.replace($state1,$state2);
        }
        $ID[0].innerHTML=$State;
     }

     function addGuard(check_id){
      var $CheckBoxGuard=document.getElementById(check_id);
      var $GuardShow=document.getElementById("AddGuard");
      var $temp;
      
       
          if($CheckBoxGuard.checked==true){
            if($GuardShow.innerHTML.length>21){
                $temp="∨<a onclick=\"changeState(\'"+check_id+"\')\" style=\"cursor:pointer\" name=\"a_"+check_id+"\" onmouseover=\"showTips()\" onmouseout=\"hideTips()\"><font color=\"blue\">"+check_id+"</font></a>";
                $("#hidden_guardselfname")[0].value=$("#hidden_guardselfname").attr("value")+"∨"+check_id;
            }else{
                $temp="<a onclick=\"changeState(\'"+check_id+"\')\" style=\"cursor:pointer\" name=\"a_"+check_id+"\" onmouseover=\"showTips()\" onmouseout=\"hideTips()\"><font color=\"blue\">"+check_id+"</font></a>";
                $("#hidden_guardselfname")[0].value=check_id;
            }
            $GuardShow.innerHTML=$GuardShow.innerHTML+$temp;

          }else{
            $temp="∨<a onclick=\"changeState(\'"+check_id+"\')\" style=\"cursor:pointer\" name=\"a_"+check_id+"\" onmouseover=\"showTips()\" onmouseout=\"hideTips()\"><font color=\"blue\">"+check_id+"</font></a>";
            var $temps=$GuardShow.innerHTML;
            var $hiddenGuard
            if($temps.indexOf($temp)>=0){
              
                $temps=$temps.replace($temp,"");

                $hiddenGuard="∨"+check_id;
                $("#hidden_guardselfname")[0].value=$("#hidden_guardselfname")[0].value.replace($hiddenGuard,"");
            }else{
              

                $temp="<a onclick=\"changeState(\'"+check_id+"\')\" style=\"cursor:pointer\" name=\"a_"+check_id+"\" onmouseover=\"showTips()\" onmouseout=\"hideTips()\"><font color=\"blue\">"+check_id+"</font></a>";
                $hiddenGuard=check_id;
               if($temps.indexOf($temp)>=0){
                $temps=$temps.replace($temp,"");
                $temps=$temps.replace("∨","");
                $("#hidden_guardselfname")[0].value=$("#hidden_guardselfname")[0].value.replace($hiddenGuard,"");
                $("#hidden_guardselfname")[0].value=$("#hidden_guardselfname")[0].value.replace("∨","");
              }else{
                $temp="∨<a onclick=\"changeState(\'"+check_id+"\')\" style=\"cursor:pointer\" name=\"a_"+check_id+"\" onmouseover=\"showTips()\" onmouseout=\"hideTips()\"><font color=\"blue\">¬</font><font color=\"blue\">"+check_id+"</font></a>";
                if($temps.indexOf($temp)>=0){
                  $temps=$temps.replace($temp,"");
                  $hiddenGuard="∨¬"+check_id;
                  $("#hidden_guardselfname")[0].value=$("#hidden_guardselfname")[0].value.replace($hiddenGuard,"");
                }
                else{
                  $temp="<a onclick=\"changeState(\'"+check_id+"\')\" style=\"cursor:pointer\" name=\"a_"+check_id+"\" onmouseover=\"showTips()\" onmouseout=\"hideTips()\"><font color=\"blue\">¬</font><font color=\"blue\">"+check_id+"</font></a>";
                    $temps=$temps.replace($temp,"");
                    $temps=$temps.replace("∨","");
                    $hiddenGuard="¬"+check_id;
                    $("#hidden_guardselfname")[0].value=$("#hidden_guardselfname")[0].value.replace($hiddenGuard,"");
                    $("#hidden_guardselfname")[0].value=$("#hidden_guardselfname")[0].value.replace("∨","");
                }
              }
            }
            
            $GuardShow.innerHTML=$temps;
          }

    
     }
  </script>
  <div id="AddGuard">
    <b>Guard:</b>
  </div>
  <form class="form-horizontal">
  <div id="AddSelfname" style="margin-top:10px;">
    <b>Selfname:&nbsp;</b>
    <input id="guardselfname" style="width:60%;height:18px">
    <input type="hidden" id="hidden_guardselfname" value="">
  </div>
  </form>
  <HR style="FILTER: progid:DXImageTransform.Microsoft.Glow(color=#987cb9,strength=10)" width="100%" color=#987cb9 SIZE=1>
  <script src="/javascripts/fmtreeForTraceability.js"></script>
  
  <form>
    <script src="/javascripts/loadFMTreeForTraceability.js"></script>
  </form>

</div>

<div class="us" id="us">Click to change the state of this feature</div>



